
#header-nav{
  background-color: #8ECAE6;
  padding-bottom: 50px;
  padding-top: 30px;
}

.navbar-header {

  vertical-align: bottom;
}


/* a.navbar-brand span {
  vertical-align: bottom;
} */
 /* #header-nav .navbar-header*/
 #header-nav button.navbar-toggle, #header-nav button.navbar-toggle .icon-bar {
   border: 1px solid  #003566;
 }


 #header-nav a.navbar-brand {
   font-size: 2em;
   color: #000;
   line-height: 2em;
   font-weight: bold;
   padding: 0;
   margin: 0;
 }





h1 {
  margin-bottom: 50px;
  margin-top: 0;
  font-weight: bold;
}




#content{
  background-color: #8ECAE6;
  margin: 0 0 15px;
  padding: 10px;
  font-size: 1.2em;
}

#content p {
  padding:0;
  margin: 0;
}

#content div{
  padding-left: 0;
}

 @media(max-width: 767px){

#header-nav {

  padding-bottom: 0;

}

#nav-list {
  margin-bottom: 0;
}
#nav-list a {
  text-align: center;
  background-color: #0077b6;
  border: 2px solid #8ECAE6;
  color: #fff;
  padding-bottom: 5px;
}

/* #nav-list li:nth-child(3){
  padding-bottom: 15px;


} */
